* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    width: 100%;
    background: black url("src/card-bg.jpg") no-repeat fixed center;
}

.header {
    width: 100%;
    height: 50px;
    color: white;
    background: linear-gradient(#e02424, rgba(241, 20, 20, 0.678));
    text-align: center;
}

#content {
    display: block;
    width: max-content;
    margin: 0 auto;
}

.text-num-cig {
    color: white;
    text-align: center;
    margin: 2% auto;
    font-weight: bold;
    font-size: 2em;
}

.input-text {
    display: inline-block;
    height: 29px;
    margin: 0 auto;
    text-align: center;
}

#buttonCalc, .btn-add {
    background: rgba(8, 87, 90, 0.137);
    color: white;
    font-weight: bold;
    padding: 5pt;
    width: auto;
    height: auto;
}

.btns-add-container, .space-evenly  {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between; 
    width: 220px;
    margin-top: 10px;
}

.btn-add {
    background: rgba(19, 18, 18, 0.5);
    padding: 7px;
    width: auto;
    height: auto;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
}