* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    width: 100%;
    background: black url("src/card-bg.jpg") no-repeat fixed center;
}

.header {
    display: inline-block;
    width: 100%;
    height: 60px;
    color: white;
    background: linear-gradient(#e02424, rgba(241, 20, 20, 0.678));
    justify-content: center;
    margin: 0 auto;
}

#website-title {
    color: white;
    display: block;
    text-align: center;
    font-size: 26pt;
    font-weight: bold;
    margin-top: 7px;
}

#website-title:hover {
    color: rgb(231, 232, 236);
    text-decoration: underline;
}

#content {
    display: flex;
    width: max-content;
    margin: 0 auto;
}

#main-content {
    display: block;
    margin: 25px auto;
    width: max-content;
}

.text-num-cig {
    color: rgba(112, 95, 95, 0.836);
    text-shadow: 2px 2px 3px rgba(226, 43, 73, 0.993);
    text-align: center;
    margin: 2% auto;
    font-weight: bold;
    font-size: 22pt;
}

.input-text {
    text-align: center;
}

#buttonCalc, .btn-add {
    background: rgba(8, 87, 90, 0.137);
    color: white;
    font-weight: bold;
    padding: 5pt;
    width: auto;
    height: auto;
}

.btns-add-container, .space-evenly {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 5%;
}

.btn-add {
    background: rgba(19, 18, 18, 0.5);
    color: white;
    font-weight: bold;
    font-size: 12pt;
}