* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    height: auto;
}

#background-image {
    width: 100%;
    height: 1080px;
    position: relative;
}

#background-image::after {
    background: black url("src/card-bg.jpg") no-repeat fixed center;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.6;
}

.header {
    display: inline-block;
    width: 100%;
    height: 80px;
    color: white;
    background: linear-gradient(#e02424, rgba(241, 20, 20, 0.678));
    justify-content: center;
    margin: 0 auto;
}

#website-title {
    color: white;
    display: block;
    text-align: center;
    font-size: 26pt;
    font-weight: bold;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.781);
    width: 100%;
}

#website-title:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

#content {
    display: flex;
    width: max-content;
    margin: 0 auto;
}

#main-content {
    display: block;
    margin: 25px auto;
    width: max-content;
}

.text-num-cig {
    color: rgba(243, 43, 43, 0.836);
    text-shadow: 2px 2px 3px rgba(184, 181, 181, 0.342);
    text-align: center;
    margin: 2% auto;
    font-weight: bold;
    font-size: 22pt;
}

.input-text {
    text-align: center;
}

#buttonCalc-bootstrap {
    margin-top: 55px;
    justify-content: center;
}

#buttonCalc-bootstrap, #buttonCalc, .btn-add {
    background: rgba(8, 87, 90, 0.137);
    color: white;
    font-weight: bold;
    padding: 5pt;
    width: auto;
    height: auto;
}

.btns-add-container, .space-evenly {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 5%;
}

.btn-add, #buttonCalc-bootstrap {
    background: rgba(19, 18, 18, 0.5);
    color: white;
    font-weight: bold;
    font-size: 12pt;
}

#container {
    justify-content: center;
}

#inputNumeroCigarros {
    margin-top: 75px;
    margin-bottom: 50px;
}